.header-outer-container{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    justify-content: center;
    height: 10vh;
    transition: all 0.5s;
    background-color: rgb(0, 0, 0);
    transition-timing-function: ease-in;
    z-index: 1;
    color: white;
}

.header-list{
    list-style: none;
    cursor: pointer;
    display: flex;
    gap: 20px;
}

.header-container{
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.logo img {
  height: 40px; /* Adjust as needed */
}