*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');
body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: black;
    color: white;
}

:root {
     --primary-color: #e50914;
    --secondary-color: #221f1f;
    --text-color: #ffffff;
    --background-color: #000000;
}